* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

 /* TODO: Update alert styling from default for min $$ entry */

.content-container {
  display: flex;
  /* height: 100vh; */
  height: calc(100vh - 56px);
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.form-spacer {
  background-color: red;
  margin-top: 16px;
}

.section-header {
  align-self: flex-start;
  margin-right: auto;
  padding: 6px 12px;
}

.card {
  position: absolute;
}


.form-control.amount {
  text-align: end;
}
.input-group-text.currency {
  background-color: rgb(174, 224, 174);
}
.input-group-text.decimal {
  background-color: rgb(255, 255, 255);
}